@import '../../../scss/colors.scss';

.page {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}

.info__wrapper {
  display: flex;
  max-width: 1000px;
  max-height: 800px;
  line-height: 2;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-color: transparent;
  flex-direction: column;
  overflow-y: scroll;
}

.info {
  padding: 20px;
  border: 2px solid $grey;
  border-radius: 10px;
  backdrop-filter: blur(80px);
  box-shadow: inset black 0px 0px 30px -12px;
}

.code__preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a:hover {
    transform: scale(1.1);
  }
}
