@import '../../../scss/colors.scss';

.nav {
  height: 100vh;
  max-width: 300px;

  background-color: transparent;
  backdrop-filter: blur(20px);

  font-family: 'Guch';
}

.nav__header {
  font-family: 'Guch';
  font-size: 28px;

  color: $dark-green;
}

.nav__header__wrapper {
  display: flex;
  flex-direction: column;

  padding: 20px 20px;
}

.nav__author {
  margin-top: 10px;

  font-size: 14px;

  color: $bright;
}

.nav__content__wrapper {
  display: flex;
  flex-direction: column;

  height: 775px;
  width: 100%;

  overflow-y: scroll;
}

.nav__content__link {
  display: flex;

  margin: 10px 20px;

  text-decoration: none;
}

.nav__content__link:hover {
  transform: scale(1.1);

  color: $dark-green;
}
