.page {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: row;

  overflow-y: auto;
}

.info__wrapper {
  margin: 40px auto;

  max-width: 1000px;
  height: 800px;

  line-height: 2;

  justify-content: center;

  background-color: transparent;

  overflow-y: scroll;

  h1 {
    font-family: 'Guch';
  }
}

.info {
  padding: 20px;
  margin-top: 20px;

  border: 2px solid $grey;
  border-radius: 10px;
  backdrop-filter: blur(80px);
  box-shadow: inset black 0px 0px 30px -12px;

  font-family: 'Trebuchet MS';

  li {
    margin-left: 20px;
  }
}

.info:first-child {
  margin-top: 0;
}

.info__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 20px;

  font-size: 22px;

  a {
    transition: 0.3s all ease;
  }

  a:hover {
    transform: scale(1.1);
  }
}
