.page {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

.info__wrapper {
  // display: flex;
  // flex-direction: column;

  max-width: 1000px;
  height: 800px;

  line-height: 2;

  justify-content: center;
  // align-items: center;

  margin: 40px auto;
  background-color: transparent;
  overflow-y: scroll;
}

.info {
  padding: 20px;
  border: 2px solid $grey;
  border-radius: 10px;
  backdrop-filter: blur(80px);
  box-shadow: inset black 0px 0px 30px -12px;
  margin-top: 20px;

  li {
    margin-left: 20px;
    color: $dark-green;
  }
}

.info:first-child {
  margin-top: 0;
}

.info__links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a:hover {
    transform: scale(1.1);
  }
}
