@import '../../scss/colors.scss';

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.page__background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #000000, #000000);
  display: flex;
  flex-grow: 1;
  z-index: -1;
  div {
    position: absolute;
    border-radius: 100%;
    height: 0;
    filter: blur(240vw);
    opacity: 0.4;
  }

  div:nth-child(1) {
    background: linear-gradient(132deg, #008000 0%, #8000ff 100%);
    width: 50%;
    padding-top: 50%;
    left: 29%;
    top: 47%;
    transform: translateX(-50%) translateY(-50%);
  }

  div:nth-child(2) {
    background: linear-gradient(132deg, #0000ff 0%, #e32be3 100%);
    width: 24%;
    padding-top: 24%;
    left: 50%;
    top: 48%;
    transform: translateX(-50%) translateY(-50%);
  }

  div:nth-child(3) {
    background: linear-gradient(132deg, #400080 0%, #ff80c0 100%);
    width: 41%;
    padding-top: 41%;
    left: 69%;
    top: 51%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.page__greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.page__greeting__img {
  height: 200px;
  width: 200px;
}

.page__greeting__header {
  margin: 20px 0;
}

.page__greeting__text {
  max-width: 1000px;
  line-height: 3;
  text-align: center;
}
